name: Flutter CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  flutter_quality_check:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar Repositorio
      uses: actions/checkout@v2

    - name: Configurar Flutter SDK
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "stable"

    - name: Cambiar a carpeta de la aplicaci칩n Flutter
      working-directory: aplicativo_movil

    - name: Obtener dependencias
      working-directory: aplicativo_movil
      run: flutter pub get

    - name: An치lisis de c칩digo est치tico
      working-directory: aplicativo_movil
      run: flutter analyze

    - name: Ejecutar pruebas unitarias
      working-directory: aplicativo_movil
      run: flutter test
